body, html {
  height: 100%;
}

body {
	background-color: #999;
	padding: 0px;
}

div.nostatus {
	background-color: #000;
}

#alertdisplay {
	border-style: solid;
	border-width: 10px;
	padding: 10px;
	height: 100%;
}

#warning {
	text-align: center;
	font-size: 300%;
}
#warningmsg {
	padding: 5px;
}

/* Danger mode */

div.alert {
	background-color: red;
	color: white;
	border-color: #600;
}

div.alert #warningmsg {
	border: thin solid;
	border-color: #600;
}

/* Caution mode */

div.caution {
	background-color: yellow;
	color: black;
	border-color: orange;
}

div.caution #warningmsg {
	border: thin solid;
	border-color: orange;
}

/* All clear mode */

div.noalert {
	background-color: green;
	color: white;
	border-color: #030;
}

div.noalert #warningmsg {
	border: thin solid;
	border-color: #060;
}

/* Unknown, loading, network error mode */

div.unknown {
	background-color: #999;
	color: black;
	border-color: 666;
}

div.unknown #warningmsg {
	border: none;
}

div.nodisplay {
	display: none;
}