<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="Cycle Safely">
  <meta name="author" content="SAD Analytics">

  <link rel="stylesheet" href="app.css">
  <script language="javascript" type="text/javascript" src="jquery-3.2.1.min.js"></script>
  <script language="javascript" type="text/javascript" src="turf.min.js"></script>
  <script language="javascript" type="text/javascript" src="geo-query.js"></script>


  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <script src="js/scripts.js"></script>
  
  <div>
	  <p id="currentLat">Initial value</p>
	  	  <p id="currentLon">Initial value</p>
	  <p id="status">None</p>
  </div>
  
  <div>
	  <p id="warning"></p>
  </div>
  
  <div>
	  <p id="testing"></p>
  </div>

  <div>
	  <p id="output"></p>
  </div>
</body>
</html>