<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <meta name="description" content="Cycle Safely">
        <meta name="author" content="SAD Analytics">

        <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet"/>

        <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='turf.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='geo-query.js') }}"></script>

        <title>{% block title %}{% endblock %}</title>

        <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
    {% block main %}{% endblock %}
    </body>
</html>
